DB_SERVER=LIKUN\SQLEXPRESS
DB_NAME=AIProjectMentor
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_TRUSTED_CONNECTION=yes
DB_ENCRYPT=yes
DB_TRUST_SERVER_CERTIFICATE=yes

OLLAMA_API_KEY=8615288f36f84413a826c443d4c21158.6Hy0v7ShgyRw7v2co4sTiPsI
OLLAMA_HOST=https://ollama.com
OLLAMA_MODEL=gpt-oss:20b
OLLAMA_THINK_LEVEL=low